body {
  margin: 0;
  background-color: #282c34;
  animation: bg-color 20s infinite;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Droid Sans',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes bg-color {
  0% {
    background-color: #282c34;
  }
  50% {
    background-color: #14343a;
  }
  100% {
    background-color: #282c34;
  }
}

.page {
  height: 100vh;
  font-size: calc(15px + 2vmin);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-switcher {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-switcher > button {
  margin: 0 7px;
  padding: 7px;
  padding-inline: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.window {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counter-buttons > button {
  margin-inline: 10px;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes > ul {
  min-height: 70%;
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  width: 80%;
  overflow-wrap: break-word;
  overflow: auto;
}

.notes > ul > li {
  border-bottom: 1px solid rgb(82, 82, 82);
  padding: 5px;
  text-align: start;
  display: grid;
  grid-template-columns: 85% auto;
}

.notes > ul > li > button {
  background-color: #f7253a;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  margin-inline: 5px;
  cursor: pointer;
}

.output {
  margin-bottom: 30px;
  font-size: calc(25px + 2vmin);
  font-family: -apple-system;
  display: grid;
  grid-template-rows: max-content;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.numbers > button {
  padding: 13px;
  margin: 5px;
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
  border: 1px solid #f7253a;
  cursor: pointer;
}

.numbers button:nth-child(19) {
  grid-column: 3 / span 2;
}
