body {
  margin: 0;
  background-color: #282c34;
  animation: bg-color 20s infinite;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes bg-color {
  0% {
    background-color: #282c34;
  }
  50% {
    background-color: #14343a;
  }
  100% {
    background-color: #282c34;
  }
}

.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(15px + 2vmin);
}

.dropdown {
  margin-top: 50px;
}

.dropdown > select {
  padding: 5px;
  text-align: center;
}

.window {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counter-buttons > button {
  margin-inline: 10px;
  padding: 25px;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes > ul {
  list-style-type: none;
  padding: 0;
}
